/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

@font-family:"Expert Sans", "Open Sans", Arial, sans-serif; 

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-size: 16px;
        font-family: @font-family;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/****************************************** NAVBAR *********************************************/


.navbar-brand
{
    color: #00395D;
    float: left;
    margin-left: -20px;
    font-family: @font-family;
    padding-right: 0!important;
    margin-top: 2px;
}

#navb-bg
{
    background-color: #fff;
}


.navbar
{
    background-color: #fff;
    border-radius: 0!important;
    margin-bottom: 0;
    margin: 0!important;


}

.navbar ul li a
{
    color: #00395D;
    float: left;
    font-family: @font-family;
    margin-left: 9px;
    /*padding: 0;*/
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
}

.navbar ul li a:hover
{
    text-decoration: underline;
    background-color: transparent;
    transition: 1s ease-in;
}

a.btn.pull-right
{

    border-radius: 20px;
    background-color: #72A309;
    border: none;
    color: #fff;
    box-shadow: none;
    width: 115px;
    height: 30px;
    margin-top: -5px;
    float: right!important;
    display: inline;
    font-family: @font-family;
    font-weight: lighter;
margin-top: 3px;
padding: 5px;
transition: background-color 0.2s ease-out,
color 0.2s ease-out;
margin-right: 2px;

}

a.btn.pull-right span
{
padding-left: 4px;
font-weight: lighter;
}

a.btn.pull-right:hover
{
background-color: transparent;
color: #72A309;
border: 1px solid #72A309;
transition: background-color 0.3s ease-in,
color 0.3s ease-in;
text-decoration: none;
}

@keyframes bounce
{
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    80% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}


a.btn.pull-right span:hover
{

    animation: bounce 1s;

}

.navbar-fixed-top
{
    border-width: 0!important;
    background-color: transparent;
}

#nav-color
{
    height:8px;
    /*background-color: #BFDCE9;*/
    /*opacity: 0.9;*/
    /*border: none;*/
    /*position: fixed;*/
    background: rgba(255, 255, 255, 0.5);
}

#nav-color-2
{
    height:8px;
    background: rgba(255, 255, 255, 0.3);
    /*background-color: #7FB9D2;*/
    /*opacity: 10;*/
    border: none;
}



/****************************************** JUMBOTRON *********************************************/

.jumbotron
{
    padding-top: 0!important;
}

.jumbotron h2
{
    color: #fff;
    font-size: 50px;
    text-align: left;
    top: 30%;
    position: absolute;
    width:100%;
    padding-left: 50px;
    font-family: @font-family;
}

.jumbotron span
{
    font-weight: bolder;
}

@media (max-width: 482px)
{
    .jumbotron h2
    {
        text-align: center;
        padding-left: 0;
    }

    .navbar-brand
    {

    }
}


/**************************************** SECTION ONE ***************************************/

#section-one
{
    background-image: url("/img/gradient-blue.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    text-align: center;
    background-size: cover;

}

#section-one h1
{
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-family: @font-family;
    font-size: 45px;
    font-weight: lighter;
}

#section-one h1 span
{
    font-weight: bolder;
}

#section-one h2
{
    color: #fff;
    text-align: center;
    font-family: @font-family;
    font-weight: lighter;
    font-size: 25px;
}

#download-app-btn
{
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: @font-family;
    font-weight: lighter;
    font-size: 23px;
    box-sizing: content-box;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    width: 200px;
    height: 35px;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;


}

#download-app-btn:hover
{
    background-color: white;
    color: #00A2F2;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

#section-one img
{
    width:100%;
    height: 100%;
    margin-top: 7px;

}




/***************************************** CURRENCY SECTION ******************************************/
#currency-section
{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #DE5259;
    background-image: url("/img/red.jpg");
    background-position: center bottom;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
}

#currency-section h2
{
    color: #fff;
    font-family: @font-family;
    font-weight: lighter;
}

#currency-section p
{
    color: #fff;
    font-weight: lighter;
    font-family: @font-family;
    padding-bottom: 10px;
}

#currency-section img
{
    margin: auto 0;
    min-width: 400px!important;
    margin-left: 5px;
    /*height: 410px;*/
    /*width: 100px;*/
    /*object-fit: cover;*/
}
@media (max-width: 340px)
{
    #currency-section img
    {
        margin-left: -40px;
    }
}


/******************************************* DOCUMENT SECTION ******************************************/

#document-section
{
    width: 100vw;
    height: 43vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#img-1
{
    min-width: 700px;
    height: auto;
    margin-left: -220px;
    margin-top: -510px;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
}

#document-section h2
{
    color: #000;
    font-family: @font-family;
    font-weight: lighter;
    /*margin: 0;*/
    position: relative;
    /*padding-bottom: 10px;*/
}

#document-section p
{
    color: #000;
    font-weight: lighter;
    font-family: @font-family;

}

#img-2 {
    min-width: 690px !important;
    height: auto;
    margin-right: -320px;
    /*margin-top: 20px;*/
    position: absolute;
    right: 0;
}

@media (min-width: 763px)
{
   #img-1
   {
       margin-top: -600px;
   }
}

@media (max-width: 720px)
{
    #img-2
    {
        max-width: 600px;
    }
}


/***************************************** DOWNLOAD SECTION ******************************************/
#download-section
{
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url("/img/green.jpg");
    background-position: center left  ;
    overflow: hidden;
    background-size: cover;

}

#download-section h2
{
    color: #fff;
    font-family: @font-family;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
}

#download-section p
{
    color: #fff;
    font-weight: lighter;
    font-family: @font-family;
    padding-bottom: 10px;
}

#download-section img
{
    margin: auto 0;
    height: auto;
    /*position:absolute;*/
    /*clip:rect(0, 0, 0, 0);*/
}

@media (max-height: 320px)
{

}
/**************************************** SUPPORT PAGE ******************************************/
#support-title
{
    //background-image: url("/img/gradient-blue.jpg");
    background-position: center center;

    //background: #FFCC3B; /* For browsers that do not support gradients */
    background: url("/img/gradient-blue.jpg") #08b1f1 cover no-repeat; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-55deg, #066384, #08b1f1 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-55deg, #066384, #08b1f1 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-55deg, #066384, #08b1f1 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-55deg, #066384, #08b1f1 ); /* Standard syntax */

    height: 350px;
}

#support-title img
{
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-top: 90px;
}

#support-title h3
{
    color: #fff;
    margin-left: 20px;
    font-family: @font-family;
    font-weight: lighter;
}

#support-title h4
{
    color: #fff;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 20px;
}

#accordian
{
    margin-top: 10px;
}

.accordion-3 .panel-heading
{
    cursor: pointer;
}

.panel-info
{
    border: transparent!important;
}

.panel-info>.panel-heading
{
    background-color: transparent!important;
    border-bottom: 1px solid #D9D9D9!important;
    font-family: @font-family;
    color:#00AEEF!important;
    font-size: 5px;
    font-weight: lighter!important;
}

.panel-title
{
    font-family: @font-family;
    font-weight: lighter;
    padding: 10px;
}

#accordian .fa
{
    color: #000;
    font-weight: lighter;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent!important;
    border-bottom: 1px solid #D9D9D9!important;
}
/***************************************** MAIL JUMBOTRON ******************************************/

#mail-jumbotron
{
    // background-image: url("/img/yellow-gradient.jpg");
    background-position: center center;
    
    background: url("/img/yellow-gradient.jpg") #FFCC3B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-55deg, #DB9D14, #FFCC3B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-55deg, #DB9D14, #FFCC3B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-55deg, #DB9D14, #FFCC3B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-55deg, #DB9D14, #FFCC3B); /* Standard syntax */

    height: 270px;
}

#mail-jumbotron img
{
    width: 110px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

#mail-jumbotron h4
{
    color: #000;
    font-family: @font-family;
    margin-left: 10px;
}

#mail-jumbotron p
{
    font-family: @font-family;
    font-weight: lighter;
    padding-top: 5px;
    margin-left: 10px;
}

/***************************************** CALL INFO ******************************************/
#call-info
{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
}

#call-info h3
{
    font-family: @font-family;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

#call-info h5
{
    padding-top: 20px;
    font-family: @font-family;
    font-size: larger;

}

#call-info i
{
    margin-right: 20px;
    display: inline;
}

#call-info a
{
    color: #000;
    text-decoration: underline;
}

#call-info a:hover
{
    color: #00A2F2;
}


/***************************************** MAIL FORM ******************************************/

#mail-form h3
{
    font-family: @font-family;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 25px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    width: 10px;
    height: 10px;
    border: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret:before {
    content: "\e003";
}

.form-control
{
    background-color: transparent;
    border: 1px solid #D9D9D9!important;
    border-radius:0!important;
    width: 100%;
    font-family: @font-family!important;
    margin-bottom: 10px;
    text-align: left;
    /*color: #C7C7CD!important;*/
    font-weight: lighter;
    box-shadow: none!important;
}

.form-group h5
{
    font-family: @font-family;
    margin-left: 10px;
}


#name, #email, #contact, #message
{
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 3px!important;
    font-size: 13px;
    font-family: @font-family;
    box-shadow: none;
    font-weight: lighter;

}


textarea.input-lg
{
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    font-size: 13px;
    font-family: @font-family;
    box-shadow: none;
    font-weight: lighter;
}

#send-msg
{
    width:100%;
    font-family: @font-family;
    height: 39px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: lighter!important;

}

#disabled-option
{
    color:red!important;
}

/***************************************** FOOTER ******************************************/
.footer
{
    margin-top: 50px;
    background-color: #EFEFEF;
    height: 100%;
    padding: 10px;
    text-align: left;

}

.footer li
{
    display: inline;
    left: 0;
}

.footer li a
{
    font-size: 10px;
    color: red;
    font-family: @font-family;
    font-weight: lighter;

}

.footer li a:hover
{
    text-decoration: underline;
}

.footer p
{
    color:red;
    font-size: 10px;
    font-family: @font-family;
    font-weight: lighter;
}

/******************************************* FONTS ******************************************/
@font-face {
    font-family: @font-family;
    src: url('fonts/expert_sans_light-webfont.ttf') format('ttf');
}

/***********send money**************/
#send-money
{
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    text-align: center;
    background-size: cover;

}

#send-money h2
{
    text-align: center;
    margin-top: 20px;
    font-family: @font-family;
    font-weight: lighter;
    margin-bottom: 20px;
}

#send-money h2 span
{
    font-weight: bolder;
}

#send-money p
{
    color: #000;
    font-weight: lighter;
    font-family: @font-family;
    padding-bottom: 5px;
}

#myCarousel
{


}

.carousel-indicators li
{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border-radius: 50%;
    border-color:deepskyblue!important;
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: deepskyblue!important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img
{
    margin: auto 0;

}

.carousel-indicators {
    bottom:-30px!important;
}


.carousel-inner {
    margin-bottom:50px;
}

/**************online-payment*********************/


#online-payment
{
    background-image: url("/img/gradient-blue.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    text-align: center;
    background-size: cover;

}

#online-payment h2
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: @font-family;
    /*font-size: 45px;*/
    font-weight: lighter;
    color: #f7f7f7;
}

#online-payment h1 span
{
    font-weight: bolder;
}


#online-payment p
{
    color: #fff;
    font-weight: lighter;
    font-family: @font-family;
    margin-bottom: 20px;
}

#online-payment img
{
    width:100%;
    height: 100%;
    /*margin-top: 7px;*/
    /*margin-top: -10px;*/
    /*top: -30px;*/

}

.bolder-heading(@mt : 20px) {
	text-align: center;
    margin-top: @mt;
    font-family: @font-family;
    font-weight: lighter;
    margin-bottom: 10px;
}


/*******************live-rates ends********************/
#live-rates
{
    color: #0f0f0f;
    height: 100%;
    width: 100%;
    overflow: hidden;

    h2
	{
	    .bolder-heading();
	}
	
	p
	{

	    font-weight: lighter;
	    font-family: @font-family;
	    padding-bottom: 10px;
	}
}

#rates
{
    min-width: 550px;
    height: auto;
    z-index: 1;
    margin-left: -150px;
}

/*#rates-device {*/
/*width: 250px;*/
/*height: 250px;*/
/*position:absolute;*/
/*margin-top: -110px;*/
/*left: -120px;*/
/*top: 30px;*/
/*z-index: 2; }*/



