/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-size: 16px;
        font-family: "Expert Sans";
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/****************************************** NAVBAR *********************************************/


.navbar-brand
{
    color: #00395D;
    float: left;
    margin-left: -20px;
    font-family: "Expert Sans";
    padding-right: 0!important;
    margin-top: 2px;
}

#navb-bg
{
    background-color: #fff;
}


.navbar
{
    background-color: #fff;
    border-radius: 0!important;
    margin-bottom: 0;
    margin: 0!important;


}

.navbar ul li a
{
    color: #00395D;
    float: left;
    font-family: "Expert Sans";
    margin-left: 9px;
    /*padding: 0;*/
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
}

.navbar ul li a:hover
{
    text-decoration: underline;
    background-color: transparent;
    transition: 1s ease-in;
}

a.btn.pull-right
{

    border-radius: 20px;
    background-color: #72A309;
    border: none;
    color: #fff;
    box-shadow: none;
    width: 115px;
    height: 30px;
    margin-top: -5px;
    float: right!important;
    display: inline;
    font-family: "Expert Sans";
    font-weight: lighter;
    margin-top: 3px;
    padding: 5px;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
margin-right: 2px;

}

a.btn.pull-right span
{
padding-left: 4px;
font-weight: lighter;
}

a.btn.pull-right:hover
{
background-color: transparent;
color: #72A309;
border: 1px solid #72A309;
transition: background-color 0.3s ease-in,
color 0.3s ease-in;
text-decoration: none;
}

@keyframes bounce
{
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    80% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}


a.btn.pull-right span:hover
{

    animation: bounce 1s;

}

.navbar-fixed-top
{
    border-width: 0!important;
    background-color: transparent;
}

#nav-color
{
    height:8px;
    /*background-color: #BFDCE9;*/
    /*opacity: 0.9;*/
    /*border: none;*/
    /*position: fixed;*/
    background: rgba(255, 255, 255, 0.5);
}

#nav-color-2
{
    height:8px;
    background: rgba(255, 255, 255, 0.3);
    /*background-color: #7FB9D2;*/
    /*opacity: 10;*/
    border: none;
}

@media (max-width: 768px)
{
    #btn-download-lg
    {
        display: none;
    }

}

@media (min-width: 768px)
{
    #btn-download-xs
    {
        display: none;
    }

    .navbar-nav li a
    {
        margin-top: 5px;
    }

    #btn-download-lg
    {
        margin-top: 10px;
    }

}

@media (min-width: 768px)
{

}


/****************************************** JUMBOTRON *********************************************/

.jumbotron
{
    padding-top: 0!important;
}

.jumbotron h2
{
    color: #fff;
    font-size: 50px;
    text-align: left;
    top: 30%;
    position: absolute;
    width:100%;
    padding-left: 50px;
    font-family: "Expert Sans";
}

.jumbotron span
{
    font-weight: bolder;
}

@media (max-width: 482px)
{
    .jumbotron h2
    {
        text-align: center;
        padding-left: 0;
    }

    .navbar-brand
    {

    }
}


/**************************************** SECTION ONE ***************************************/

#section-one
{
    background-image: url("img/gradient-blue.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    position: relative;
}

#section-one h1
{
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-family: "Expert Sans";
    font-size: 45px;
    font-weight: lighter;
}

#section-one h1 span
{
    font-weight: bolder;
}

#section-one h2
{
    color: #fff;
    text-align: center;
    font-family: "Expert Sans";
    font-weight: lighter;
    font-size: 25px;
}

#download-app-btn
{
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: "Expert Sans";
    font-weight: lighter;
    font-size: 23px;
    box-sizing: content-box;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    width: 200px;
    height: 35px;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

#download-app-btn:hover
{
    background-color: white;
    color: #00A2F2;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

#section-one img
{
    width:100%;
    height: 100%;
    margin-top: 7px;
}

@media (min-width: 768px)
{
    #section-one img {
        margin-top: 80px;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
    }

    #intro
    {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}


/******************************************** SEND MONEY *****************************************/
#send-money
{
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    background-color: #fff;
    position: relative;
}

#send-money h2
{
    text-align: center;
    margin-top: 100px;
    font-family: "Expert Sans";
    font-weight: lighter;
    margin-bottom: 20px;
    /*bottom: 0;*/
}

#send-money h2 span
{
    font-weight: bolder;
}

#send-money p
{
    color: #000;
    font-weight: lighter;
    font-family: "Expert Sans";
    padding-bottom: 5px;
}

.carousel-indicators li
{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border-radius: 50%;
    border-color:deepskyblue!important;

}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: deepskyblue!important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img
{
    margin: auto 0;
}

.carousel-indicators {
    bottom:-30px!important;
}


.carousel-inner
{

    margin-bottom:50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px)
{
    #send-money img
    {
        min-height: 600px;
        /*position: absolute;*/
    }
}

/***************************************** ONLINE PAYMENT *********************/


#online-payment
{
    background-image: url("img/gradient-blue.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    text-align: center;
    background-size: cover;

}

#online-payment h2
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Expert Sans";
    /*font-size: 45px;*/
    font-weight: lighter;
    color: #f7f7f7;
}

#online-payment h1 span
{
    font-weight: bolder;
}


#online-payment p
{
    color: #fff;
    font-weight: lighter;
    font-family: "Expert Sans";
    margin-bottom: 20px;
}

#online-payment img
{
    width:100%;
    height: 100%;
    /*margin-top: 7px;*/
    /*margin-top: -10px;*/
    /*top: -30px;*/

}

/***************************************** CURRENCY SECTION ******************************************/
#currency-section
{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #DE5259;
    background-image: url("img/red.jpg");
    background-position: center bottom;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
}

#currency-section h2
{
    color: #fff;
    font-family: "Expert Sans";
    font-weight: lighter;
}

#currency-section p
{
    color: #fff;
    font-weight: lighter;
    font-family: "Expert Sans";
    padding-bottom: 10px;
}

#currency-section img
{
    margin: auto 0;
    min-width: 400px!important;
    margin-left: 5px;
    /*height: 410px;*/
    /*width: 100px;*/
    /*object-fit: cover;*/
}

@media (max-width: 340px)
{
    #currency-section img
    {
        margin-left: -40px;
    }
}


/******************************************* DOCUMENT SECTION ******************************************/

#document-section
{
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#img-1
{
    min-width: 700px;
    height: auto;
    margin-left: -220px;
    margin-top: -510px;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
}

#document-section h2
{
    color: #000;
    font-family: "Expert Sans";
    font-weight: lighter;
    /*margin: 0;*/
    position: relative;
    /*padding-bottom: 10px;*/
}

#document-section p
{
    color: #000;
    font-weight: lighter;
    font-family: "Expert Sans";

}

#img-2 {
    min-width: 690px !important;
    height: auto;
    margin-right: -320px;
    /*margin-top: 20px;*/
    position: absolute;
    right: 0;
}

@media (min-width: 763px)
{
   #img-1
   {
       margin-top: -600px;
   }
}

@media (max-width: 720px)
{
    #img-2
    {
        max-width: 600px;
    }
}


/***************************************** DOWNLOAD SECTION ******************************************/
#download-section
{
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url("img/green.jpg");
    background-position: center left  ;
    overflow: hidden;
    background-size: cover;

}

#download-section h2
{
    color: #fff;
    font-family: "Expert Sans";
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
}

#download-section p
{
    color: #fff;
    font-weight: lighter;
    font-family: "Expert Sans";
    padding-bottom: 10px;
}

#download-section img
{
    margin: auto 0;
    height: auto;
    /*position:absolute;*/
    /*clip:rect(0, 0, 0, 0);*/
}

@media (max-height: 320px)
{

}






/**************************************** SUPPORT PAGE ******************************************/

#support-title
{
    background-image: url("img/gradient-blue.jpg");
    background-position:  center center;
    height: 350px;
}

#support-title img
{
    width: 100px;
    height: auto;
    margin-left: 45px;
    margin-top: 150px;

}

#support-title h3
{
    color: #fff;
    margin-left: 160px;
    margin-top: -70px;
    font-family: "Expert Sans";
    font-weight: lighter;
}

#support-title h4
{
    color: #fff;
    font-weight: lighter;
    margin-left: 160px;
    /*margin-top: -20px;*/
    /*margin-top: 15px;*/
}


/******************************panel****************************/
#accordian
{
    margin-top: 10px;
}

.accordion-3 .panel-heading
{
    cursor: pointer;
    font-weight: lighter;
}


.panel-info
{
    border: transparent!important;
    font-weight: lighter;
    color: #000;
}

.panel-info>.panel-heading
{
    background-color: transparent!important;
    border-bottom: 1px solid #D9D9D9!important;
    font-family: "Expert Sans";
    color:#006699!important;
    font-size: 5px;
    font-weight: lighter!important;
    text-align: left;
}


@media (max-width: 720px)
{
    .panel-body {
        -webkit-column-count:  1;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 720px) {
    .panel-body {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
    }
}

.panel-heading:hover {
    background-color: #99d6ff!important;
}


/***************panel ends******************/

/***************************************** MAIL JUMBOTRON ******************************************/

#mail-jumbotron
{
    background-image: url("img/yellow-gradient.jpg");
    /*background-position:top right;*/
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}


#mail-jumbotron img
{
    width: 110px;
    height: auto;
    /*margin-left: 45px;*/
    margin-top: 110px;
}

/*#mail-jumbotron h3*/
/*{*/
    /*color: #ffffff;*/
    /*font-family: "Expert Sans";*/
    /*margin-left: 170px;*/
    /*margin-top: -90px;*/
/*}*/

/*#mail-jumbotron p*/
/*{*/
    /*font-family: "Expert Sans";*/
    /*color: #ffffff;*/
    /*font-weight: lighter;*/
    /*padding-top: -10px;*/
    /*margin-left: 170px;*/
/*}*/


#mail-jumbotron h3
{
    /*color: #fff;*/
    margin-left: 170px;
    margin-top: -90px;
    font-family: "Expert Sans";
    font-weight: lighter;
    /*font-size: medium;*/
}

#mail-jumbotron h4
{
    /*color: #fff;*/
    font-weight: lighter;
    margin-left: 160px;
    padding-top: -10px;
    margin-left: 170px;
    /*margin-top: -20px;*/
    /*margin-top: 15px;*/
}

.mail-jumbotron h3, h4{
    color: black;
}

@media (min-width: 719px) {

    .mail-jumbotron h3, h4 {
        color:white;
    }

}



/***************************************** CALL INFO ******************************************/

/*#call-info*/
/*{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-bottom: 10px;*/
    /*overflow: hidden;*/
/*}*/

/*#call-info h2*/
/*{*/
    /*font-family: "Expert Sans";*/
    /*font-weight: bolder;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
/*}*/

#mail-form h5
{
    padding-top: 20px;
    font-family: "Expert Sans";
    font-size: larger;

}
a:hover, a.hover {
    text-decoration: none;
    color:black;
}
#call-info a:hover
{
    color: #00A2F2;
}
a[href^=""]:before {
    content: "\260E";
    display: block;
    color: black;
    margin-right: 0.5em;
}

/***************************************** MAIL FORM ******************************************/


#mail-form{
    margin-left: 10%;
}
#mail-form h2
{
    font-family: "Expert Sans";
    font-weight: bold;
    /*margin-left: 5px;*/
    margin-bottom: 25px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    width: 10px;
    height: 10px;
    border: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret:before {
    content: "\e003";
}

.form-control
{
    background-color: transparent;
    /*border: 1px solid #D9D9D9!important;*/
    border-radius:0!important;
    /*width: 100%;*/
    font-family: "Expert Sans"!important;
    margin-bottom: 10px;
    text-align: left;
    /*color: #C7C7CD!important;*/
    font-weight: lighter;
    box-shadow: none!important;
}

.form-group h5
{
    font-family: "Expert Sans";
    margin-left: 10px;
}


#name, #email, #contact, #message
{
    /*background-color: transparent;*/
    /*border-radius: 3px!important;*/
    font-size: 13px;
    font-family: "Expert Sans";
    box-shadow: none;
    font-weight: lighter;
}

input:focus {
    border-color: lightgreen!important;
}

#send-msg
{
    font-family: "Expert Sans";
    padding-top: 5px;
    font-weight: lighter!important;

}

a.btn.pull-left
{

    border-radius: 20px;
    background-color: #72A309;
    border: none;
    color: #fff;
    box-shadow: none;
    width: 115px;
    height: 30px;
    margin-top: -5px;
    float: left;
    display: inline;
    font-family: "Expert Sans";
    font-weight: lighter;
    padding: 5px;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;

}

a.btn.pull-left span
{
    padding-left: 4px;
    font-weight: lighter;
}

a.btn.pull-left:hover
{
    background-color: transparent;
    color: #72A309;
    border: 1px solid #72A309;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
    text-decoration: none;
}

@keyframes bounce
{
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    80% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}


a.btn.pull-left span:hover
{

    animation: bounce 1s;

}



/*@media (max-width: 768px)*/
/*{*/
    /*#send-msg*/
    /*{*/
        /*display: none;*/
    /*}*/

/*}*/

/*@media (min-width: 768px)*/
/*{*/
    /*#send-msg*/
    /*{*/
        /*margin-top: 10px;*/
    /*}*/

/*}*/


/***************************************** FOOTER ******************************************/
.footer
{
    margin-top: 50px;
    background-color: #EFEFEF;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.footer li
{
    display: inline;
    left: 0;
}

.footer li a
{
    font-size: 10px;
    font-family: "Expert Sans";
    font-weight: lighter;
}

.footer li a:hover
{
    text-decoration: underline;
}

.footer p
{
    font-size: 10px;
    font-family: "Expert Sans";
    font-weight: lighter;
}


.footer p, li a{
    color: red;
}

@media (min-width: 719px) {

    .footer p, li a {
        color:grey;
    }

}


/******************************************* FONTS ******************************************/
@font-face {
    font-family: "Expert Sans";
    src: url('fonts/expert_sans_light-webfont.ttf') format('ttf');
}






/*******************live-rates ends********************/
#live-rates
{
    color: #0f0f0f;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#live-rates h2
{
    text-align: center;
    margin-top: 20px;
    font-family: "Expert Sans";
    font-weight: lighter;
    margin-bottom: 10px;
}

#live-rates h1 span
{
    font-weight: bolder;
}

#live-rates p
{

    font-weight: lighter;
    font-family: "Expert Sans";
    padding-bottom: 10px;
}


#rates
{
    min-width: 550px;
    height: auto;
    z-index: 1;
    margin-left: -150px;
}



/*.col{*/
    /*color:#fff;*/
    /*float:left;*/
    /*margin:2%;*/
    /*width: 46%;*/
/*}*/
/*.one{*/
    /*background-color: #e95b33;*/
/*}*/

/*.two{*/
    /*background-color: #40b7d7;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
    /*.col{*/
        /*float: none;*/
        /*margin:0;*/
        /*width: 100%;*/
    /*}*/
/*}*/


 /* end break point */